= semantic_form_for @challenge do |f|
  = f.inputs do
    = f.input :title
    = f.input :reward
    = f.input :location
    = f.input :deadline_date, as: :string, input_html: { class: 'datepicker' }
    = f.input :deadline_time, as: :string, input_html: { class: 'timepicker' }

  = f.actions do
    = f.action :submit, as: :button
    = f.action :cancel, as: :link
