#h2 Tidsutfordringer

%table
  %thead
    %tr
      %th Title
      %th Deadline
      %th Reward
      %th Location
      %th Attendees
      %th
  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= link_to challenge.title, challenge
        %td
          %time{datetime: challenge.deadline.to_time.iso8601}= challenge.deadline
        %td= challenge.reward
        %td= challenge.location
        %td
          .user-count= challenge.users.count
          .users
            - challenge.users.each do |user|
              = image_tag(user.gravatar_url(size = 48), class: 'gravatar')
        - if challenge.attendable?(@current_user)
          %td= link_to 'Attend', challenge_participations_path(challenge), method: :post

- if permitted_to? :create, :challenges
  = link_to 'Create new challenge', new_challenge_path

= render 'challenges/rules'
