%table
  %caption Upcoming challenges
  %thead
    %tr
      %th Title
      %th Time
      %th Reward
      %th Location
      %th Attendees
      %th
  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= link_to challenge.title, challenge
        %td= l(challenge.deadline, format: :d_at_t)
        %td= challenge.reward
        %td Coming soon
        %td= challenge.users.count
        - if challenge.attendable?(@current_user)
          %td= link_to 'Attend', challenge_participations_path(challenge), method: :post

- if permitted_to? :create, :challenges
  = link_to 'Create new challenge', new_challenge_path
