%h2
  = @challenge.title

-if @challenge.participation_deadline >= Time.current
  .status.attendable
    Challenge attendable untill
    #{l(@challenge.participation_deadline, format: :d_at_t)}
- elsif
  .status.unattendable
    Attendance deadline has passed. See you there.

%dl
  %dt Reward
  %dd= @challenge.reward

  %dt Location
  %dd= @challenge.location

  %dt Time
  %dd= l(@challenge.deadline, format: :d_at_t)

  %dt Attending users
  %dd
    %ul
      - if @challenge.users.any?
        - @challenge.users.each do |user|
          %li= user.name
          %li= image_tag(user.gravatar_url(size = 40), id: 'gravatar')
          - if @challenge.unattendable?(@current_user) && @current_user == user
            %li= link_to 'Ditsj', |
              challenge_participation_path(@challenge, current_user), |
              method: :delete
      - else
        No attendees. Be the first!

- if @challenge.attendable? @current_user
  = link_to 'Attend', challenge_participations_path(@challenge), method: :post

- if @challenge.user == @current_user && permitted_to?(:manage, :challenges)
  %p
    = link_to "Update", edit_challenge_path(@challenge)
    = link_to "Destroy", @challenge, method: :delete, data: { confirm: "Are you sure you wish to destroy this challenge? All attendees will be notified." }
