.navbar
  .outer-container
    .navbar-left
      = link_to 'Challenge', challenges_path, id: 'brand'

    .navbar-right
      %ul
        - if current_user
          %li= image_tag(current_user.gravatar_url(size = 40), id: 'gravatar')
          %li= link_to current_user.name, root_path
          %li= link_to 'Sign out', signout_path
        - else
          %li= link_to 'Sign in', '/auth/github'
